{% extends 'task-manager/base.html' %}

{% block head %}
<title>manage your tasks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/task-master/task-master-style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1>Task master</h1>
    <div class="formulario">
        <form action="/task" method="POST">
            <input type="text" name="content" id="content" class="input" placeholder="Type in your task"> <br>
            <input type="submit" value="add task" id="submit-btn" class="submit-button">
        </form>
    </div>

    {% if tasks|length < 1 %}
    <p class="no-tasks-warning">there are no tasks</p>

    {% else %}

    <div class="card-panel">

        {% for task in tasks %}
        <div class="card">
            <p class="task-content">{{task.content}}</p>
            <p class="task-date">{{task.date_created.date()}}</p>
            <a href="/task/update/{{task.id}}" class="links update-link">Update</a>
            <a href="/task/delete/{{task.id}}" class="links delete-link">Delete</a>
        </div>


        {% endfor %}

    </div>
    {% endif %}

</div>
{% endblock %}