{% extends 'bmi-calc/bmi-base.html' %}
{% block head %}
<title>calculate your BMI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bmi/bmi.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <h1>calculate your body-mass index</h1>
    <p class="json-link">you can find a REST api of patients in <a href="./rest"> here</a>
    <br>
    try using postman to post or get patients. and /id to put or delete </p>
    <div class="form">
        <form action="/bmi/" , method="POST">
            <input type="text" name="name" id="name" placeholder="type your name" required> <br>
            <input type="number" name="weight" id="weight" placeholder="kg" required> <br>
            <input type="number" name="height" id="height" placeholder="cm" required> <br>
            <input type="submit" name="submit" id="submit" value="calculate!">

        </form>
    </div>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        {% if pacients|length < 1 %}
        <p class="no-tasks-warning">there are no patients. <br> Add one</p>

        {% else %}
        <div class="cards-flexbox">
        {% for pacient in pacients %}

        <div class="pacient-card">
            <ul>
                <li>Name: {{pacient.name}}</li>
                <li>Weight: {{pacient.weight}} kg</li>
                <li>Height: {{pacient.height}} cm</li>
                <li>BMI: {{pacient.bmi}}</li>
            </ul>

            <a href="/bmi/delete/{{pacient.id}}" class="links delete-link">Delete</a>
            <a href="/bmi/update/{{pacient.id}}" class="links update-link">Update</a>
        </div>



        {% endfor %}
</div>
</div>
</div>
{% endif %}
{% endblock %}