<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  {% block head %} {% endblock %}
</head>

</html>

<body>

  <header class="menu menu-mobile" id="navbar">
    <div id="nav-icon" class="menu-nav">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- <span class="mobile-btn"></span> -->
    <nav class="menu-nav">
      <div class="menu-options">
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li><a href="/#contact">contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
   
    {% block body %} {% endblock %}
  </main>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>