{% extends 'header.html' %}
<html>



{% block head %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
<title>Mateus' website</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %} 

  <main>
    <section class="about" id="about">
      <div class="container">
        <h1>Hello!</h1>
        <p>I'm a web developer and have knowledge in:</p>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>Python</li>
        </ul>

      

      </div>

    </section>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2>Portfolio</h2>
        <p>As I build personal projects, I'll be deploying them here</p>
        <p>By the way, this website is built on a Python/Flask application</p>
        <p>as you may notice, it still doesn't look pretty. I'm working on it.</p>
        <ul>
          <li> <a href="task">check out my task manager</a></li>
          <li> <a href="bmi">or my Body Mass Index calculator</a></li>
          <li> <a href="https://github.com/mateusmecunhe/" target="_blank">or, even, my github</a></li>
        </ul>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <h2>Contact</h2>
        <p>@: mateusmecunhe@gmail.com</p>
        <p>github: mateusmecunhe</p>
      </div>
    </section>


  </main>
  {% endblock %}
