
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"/>
    <title>Mateus' website</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <section class="about">
        <p>while I'm building this website, <a href="task">check out my Python3/Flask task manager (CRUD)</a></p>

    </section>
    <section class="contact">

    </section>
    


</body>
  
<html>